<!DOCTYPE html>
</html>
<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HLA Match It Web Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<nav class="navbar sticky-top navbar-expand-sm justify-content-center" style="background-color: #046A38;">
        <div class="nav" >
            <a class="navbar-brand text-white h1" href="{% url 'hlamatchit_home' %}" > HLA Match It Web Tool  </a>
             <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"> <span class="navbar-toggler-icon"></span></button>
             <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav nav-fill nav-pills">
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href='about'> About</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href='allele2aa.html'> Allele to Amino Acid </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-white h5" href='ismatch.html'> Is Position Matched </a>
                    </li>
                    </ul>
                </div>
        </div>
    </nav>
</body>
</html>
