</html>
<head>
    <title></title>
</head>
<body>
    <div class="jumbotron text-center-white mt-5 pt-2 pb-2" style="background-color:#4E9258;"> 
        <h1>About the HLA Match It Web Tool</h1>
        <h2 class="container text-center font-italic" > Designed to allow for public utilization of Novel HLA Assignment functions </h2>
             <h3 class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </h3>
             <br>
        <h4 class="container text-center font-italic"> Cite our Tools</h4>
            <p class= "container text-center font-italic"> Manuscript under preparation </p>
            <br>
             <p class="container text-center font-weight-bold"> Prototype Tools for Research Use Only </p>
        </div>
</body>
</html>