<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>HLA Allele to Amino Acid Position Tool</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    </head>

<body>

 
<div class=" jumbotron text-center pt-1 pb-1 lead">
    <h1 class="text-success jumbotron font-weight-bold">HLA Amino Acid Position Lookup</h1>
    
     <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Based on Multiple Sequence Alignments from IMGT/HLA </h3>
</div>

<br>

  <br>
  <br>
  <br>
  <div class="container">
    
  
 <table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-left"> 
            <thead class="thead-dark">
              
                <tr> 
                    <th scope="col"> <h4> Allele </h4> </th>
                    <th scope="col"> <h4> Position </h4> </th>
                    <th scope="col"> <h4> Amino Acid </h4> </th>
                </tr>
            </thead>
           

<tbody>
  <tr>
    <td>{{Allele}}</td>
    <td>{{Position}}</td>
    <td>{{AA}}</td>
  </tr>
</tbody>
 </table>  
</div>

<br>
  <br>
  <br>
  <br>
  <br>
  <br>

<div class="jumbotron text-white mt-5 pt-2 pb-2" style="background-color: #003399;"> 
<h3 class="container text-center font-italic" > Contact Us </h3>
     <h5 class="container text-center font-italic"> For scientific and technical queries contact pathologygragertlab@tulane.edu.  </h5>
     <br>
<h4 class="container text-center font-italic"> Cite Amino Acid Lookup Tool</h4>
    <p class= "container text-center font-italic"> Manuscript under preparation </p>
    <br>
     <p class="container text-center font-weight-bold"> Prototype Tool for Research Use Only </p>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>