<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <title>HLA Antigen to most probable Allele Tool: FIBERS Analysis</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
    </head>

<body>

 
<div class=" jumbotron text-center pt-1 pb-1 lead">
    <h1 class="text-success jumbotron font-weight-bold">HLA Antigen to most probable Allele Tool: FIBERS Risk Probability based on FIBERS analysis of the SRTR</h1>
    
    <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Probability of FIBERS classifying pair as High Risk based on mismatching of DRB1 13 or 26, or DQB1 30 or 55, or positions with high Mutual Information</h3>
    <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Mutual Information described by Pearson Correlation and Asymmetric Linkage Disequilibrium </h3>
    <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Probabilities Calculated from Frequencies of all Possible Alleles of Specified Genetic Reference Population</h3>
    <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Allele Frequencies from NMDP </h3>
    <h3 class="text-danger text-center font-weight-bold mt-5 mb-5"> Based on Multiple Sequence Alignments from IMGT/HLA </h3>

</div>

<br>

  <br>
  <br>
  <br>
  <div class="container">
    

<table class="container table table-responsive-sm table-bordered table-hover table-striped  text-xl-left"> 
            <thead class="thead-dark">
              
                <tr> 
                  <h4 class=" text-danger font-weight-bold mb-3 mt-5"> Would FIBERS stratify Donor-Recipient Pair as High Risk? </h4>
                  <th scope="col"> <h4> Probability of Donor Recipient Pair having >=1AA-MM Identified by FIBERS as High Risk</h4> </th>
                  <th scope="col"> <h4> Donor Recipient Pair DRB1 Probability of AA-MM Positions with AA Assignments</h4> </th>
                  <th scope="col"> <h4> Donor Recipient Pair DQB1 Probability of AA-MM Positions with AA Assignments</h4> </th>

                </tr>
            </thead>
            

<tbody>
  <tr>
    <td>{{mm_prob}}</td>
    <td>{{drposprobs}}</td>
    <td>{{dqposprobs}}</td>
  </tr>
</tbody>
  </table>  
</div>
  <div class="container">